body {
    background-color: rgb(248, 231, 205);
}

h1 {
    color:rgb(0, 0, 116);
    
    padding-left: 400px;
    font-size: 60px;

}
h2 {
    color:rgb(0, 0, 116);
    
    padding-left: 600px;
    font size: 50px;
}
.Logo {
    height: 500px;
    padding-left: 175px;
}
.town {
    height: 200px;
    
    padding-left: 525px;


}
.food {
    height: 200px;
    
    padding-left: 525px;

}
.shop {
    height: 200px;
    
    padding-left: 525px;

}
ul{
    
    padding-left: 525px;

}