* {
    box-sizing: border-box;
}


body {
    background-color: rgb(248, 231, 205);
}

h1 {
    color:rgb(0, 0, 116);
    

}
h2 {
    color:rgb(0, 0, 116);
    
}
ul{
    display: inline;

}
img {
    height: 100px;
}
.sleep, .food, .shop {
    border: solid black;
}
.image {
    display: inline-block;
    border: solid black;
}
.list {
    display: inline-block;
    border: solid black;
}